In [4]:
import pandas as pd
data = pd.read_parquet(r'C:\Users\rfran\Desktop\zrive-ds\src\module_6\data\orders.parquet')
data['user_id'].head(12).to_excel('user_ids.xlsx', index=False)

In [5]:
data = pd.read_parquet(r'C:\Users\rfran\Desktop\zrive-ds\src\module_6\data\inventory.parquet')
data.head(3)

,variant_id,price,compare_at_price,vendor,product_type,tags
0,39587297165444,3.09,3.15,heinz,condiments-dressings,"[table-sauces, vegan]"
1,34370361229444,4.99,5.50,whogivesacrap,toilet-roll-kitchen-roll-tissue,"[b-corp, eco, toilet-rolls]"
2,34284951863428,3.69,3.99,plenty,toilet-roll-kitchen-roll-tissue,[kitchen-roll]